@tailwind base;
@tailwind components;
@tailwind utilities;

.c {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #68d412);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
